
.card {
    display:flex;
    flex-direction: column;
    flex-grow:1;
    border-radius:10px;
    margin:7px;
    background-color:#21222D;
    padding: 25px 20px 25px 20px;
}

.title {
    font-size:20px;
}

.subtitle {
    font-size:17px;
}