.wordDetailPage {
    /* display:grid;
    grid-template-columns: 1fr; */
    /* justify-content: center; */
    height:90vh;
}

.column {
    display:block;
    /* flex-direction: column; */
    /* align-items: center */
}