.main {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainGrid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height:100vh;
}

.buttonGroup {
    border-bottom:1px solid #2C2D33;
}

.stretchButton {
    flex-grow:1; 
    text-align:center; 
}