.main {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:20px;
    justify-content: center;
    height:100vh;
    /* color:var(--text-color-secondary); */
    z-index: 10;
}

.buttonGroup {
    border-bottom:1px solid var(--border-color);;
}

.stretchButton {
    flex-grow:1; 
    text-align:center; 
}