.glowButton {
    background-color:var(--background-primary);
    margin: 0px;
    /* padding: 30px 40px 30px 40px; */
    will-change: filter;
    transition: filter 500ms;
    z-index: 1;
  }
  
.glowButton:hover,
.glowButton:active,
.glowButton.active {
  filter: drop-shadow(0 0 1em var(--glow-color));
  color:var(--glow-color);
  cursor:pointer;
  z-index: 1;
}
