.dashboard-container {
  /* width:99vw; */
  /* overflow-x:hidden; */
  display:flex;
  flex-direction: row;
  /* background-color: #171821; */
  color:var(--text-color-primary);
  margin:0;
  padding:0;
  font-family: 'Inter', sans-serif;
  /* overflow:hidden; */
  text-shadow: none;
}


.title {
  font-size: 30px;
  padding: 30px 40px 30px 40px;
  text-align: center;
  text-wrap: nowrap;
}

.subtitle {
  font-size: 20px;
  padding: 30px 40px 30px 40px;
  text-align: center;
  text-wrap: nowrap;
}

.subtitle-topbar {
  font-size: 20px;
  padding: 30px 20px 30px 20px;
  text-align: center;
  text-wrap: nowrap;
}

.subtitle-left {
  font-size: 20px;
  padding: 30px 40px 30px 40px;
  text-wrap: nowrap;
}


.columnTitle {
  display:block;
  font-size: 28px;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  padding: 30px 40px 30px 40px;
  /* text-wrap: nowrap; */
  margin-left:20px;
  margin-right:20px;
  border-bottom:1px solid #2C2D33;
  /* border-top:1px solid #2C2D33; */
}