.dashboard-container {
  /* width:99vw; */
  /* overflow-x:hidden; */
  display:flex;
  flex-direction: row;
  /* background-color: #171821; */
  color:var(--text-color-primary);
  margin:0;
  padding:0;
  font-family:'Times New Roman', Times, serif;
  /* overflow:hidden; */
  text-shadow: none;
  text-shadow: 4px 4px 4px darkgrey;
  background-image: url("/frontend/src/assets/newspaper_background.jpg")
}


.title {
  font-size: 30px;
  padding: 23px 40px 24px 40px;
  text-align: center;
  text-wrap: nowrap;
}

.subtitle {
  font-size: 20px;
  padding: 30px 40px 30px 40px;
  text-align: center;
  text-wrap: nowrap;
}

.subtitle-topbar {
  font-size: 20px;
  padding: 30px 20px 30px 20px;
  text-align: center;
  text-wrap: nowrap;
}

.subtitle-left {
  font-size: 20px;
  padding: 30px 40px 30px 40px;
  text-wrap: nowrap;
}

.text {
  font-size: 15px;
  font-weight: normal;
  padding: 30px 40px 30px 40px;

}

.columnTitle {
  display:block;
  font-size: 28px;
  font-family:'Times New Roman', Times, serif;
  font-weight: normal;
  /* font-family:'Times New Roman', Times, serif; */
  text-align: center;
  padding: 30px 10px 30px 10px;
  /* text-wrap: nowrap; */
  margin-left:20px;
  margin-right:20px;
  border-bottom:1px solid var(--border-color);
  /* border-top:1px solid #2C2D33; */
}

.columnText {
  height:100px;
  vertical-align: bottom;
}