:root {
  
  --newspaper-black: rgb(26,28,26);
  --newspaper-yellow1: rgb(243, 223, 193);

  --gaming-grey: #87888C;
  
  --text-color-primary: var(--newspaper-black);
  --text-color-secondary: #c9cbd1;

  --bs-body-color: "white";

  --secondary-color: rgb(1, 221, 118);
  --background-primary: #0c0d13;
  --background-secondary: #171821;
  --border-color: #2C2D33;
  --bs-btn-bg: rgb(1, 221, 118, 0);
  --bs-btn-color: var(--text-color-primary);

  --background-primary: white;
  --background-secondary: white;

  font-family: 'Times New Roman', Times, serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark dark;
  color: "white";
  background-color: var(--background-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  min-height: 100vh;
  background-color: var(--background-secondary);
  font-weight: bold;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}